.popup .overlay{
position: fixed;
top: 0px;
left: 0px;
width: 250vw;
height: 250vh;
background: rgba(0,0,0,0.7);
z-index: 1;
display: none;
}

.popup .content{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%) scale(0);
background: white;
width: 650px;
height: 400px;
z-index: 2;
text-align: center;
padding: 20px;
box-sizing: border-box;
}

.popup .close-btn{
position: absolute;
right: 20px;
top: 20px;
width: 30px;
height: 30px;
background: darkred;
color: #fff;
font-size: 25px;
cursor: pointer;
font-weight: 600;
line-height: 26px;
text-align: center;
border-radius: 50%;
}

.popup.active .overlay{
display: block;
}

.popup.active .content{
transition: all 300ms ease-in-out;
transform: translate(-50%, -50%) scale(1);
}